# CODEOWNERS for @muon-developers Github org

# members of dev-team  will be requested for
# review when someone opens a pull request.
*       @muon-developers/dev-team 

# members of ci-team  will be requested for
# review when someone opens a pull request
# in the below directories

pipelines/ @muon-developers/ci-team
.github/ @muon-developers/ci-team
.mergify/ @muon-developers/ci-team